

<div class="row top">
  <div class="column-70">
    <img src="/assets/img/bip_intro.png" alt="">
  </div>
  <div class="column-30">
    <div class="project-words">
      <h3>Borrowed Interest Podcast</h3>
    </div>

    <div class="project-words">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="center-column">
    <img src="/assets/img/bip_main.png" alt="">
  </div>
</div>

<div class="row">
  <div class="column-30">
  </div>
  <div class="column-70">
    <img src="/assets/img/bip_windows.png" alt="">
  </div>
</div>
