<header class="site-header" role="banner">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
<div class="wrapper">

  <div class="nav">

      <a href="{{ "/" | relative_url }}">
        <button type="button" name="Home">HOME</button>
      </a>


      <a href="{{ site.baseurl }}/info.html">
        <button type="button" name="About">ABOUT</button>
      </a>

  </div>
  <div class="name">
    <p>Naomi Chan</p>
  </div>
</div>
</header>
