
.marquee, .marquee-home {
  position: absolute;
  left: 0;
  background: white;
  color: blue;
  text-transform: uppercase;
  font-style: italic;
  height: 25px;
  width: 100%;
  overflow: hidden;

  animation: delayFadeIn 6000ms;
-webkit-animation: delayFadeIn 6000ms;
}
.nav {
margin-bottom: 100px;
display: flex;

&__project-title {
  margin: auto;
}

&>* {
  padding: 10px;
}

}
// .wrapper { width:100%; padding-left: 20px; padding-right: 20px;}

.desc-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .desc {
    margin: 0 10%;
  }
}

.grid {display: flex;}
.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }
//////////////////////// HOME

#sketch-holder {
  @include media-query($on-palm) {
    display: none;
  }

}

.home-page {
    opacity: 1;
    transition: 1s opacity;
}
.home-page.fade-out {
    opacity: 0;
    transition: none;
}

.home-page {
  overflow: hidden;
  height: 100vh;
  width: 100vw;

.hero-home {
  width: 100%;
  display: flex;
  // position: absolute;
  margin-top: 2%;
  span {
    font-family: $font-sans;
  }


@include media-query($on-palm) {
  margin-top: 4%;
  display: inherit;
}

  .intro__1 {
    width: 75%;
    padding: 10px;
    animation: delayFadeIn 1000ms;
-webkit-animation: delayFadeIn 1000ms;
@include media-query($on-palm) {width:100%}
  }
  .intro__2 {
    width: 25%;
    padding: 10px;
    animation: delayFadeIn 1000ms;
-webkit-animation: delayFadeIn 1000ms;
@include media-query($on-palm) {width:100%}
  }
}

.work-grid-wrapper{

  .prevImg-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

      .project-img {
        position: absolute;
        display: none;

        animation: delayFadeIn 500ms;
-webkit-animation: delayFadeIn 500ms;

        // transform: translate(10%, 50%);
        // img {
        //   width:20vw;
        //   height:auto;
        // }
      }
    }
}
  .work-grid {
    position: absolute;
    bottom: 0;
    padding: 10px;

    #project-link-1 {  animation: delayFadeIn 2000ms;
    -webkit-animation: delayFadeIn 2000ms;}
    #project-link-2 {  animation: delayFadeIn 2500ms;
    -webkit-animation: delayFadeIn 2500ms;}
    #project-link-3 {  animation: delayFadeIn 3000ms;
    -webkit-animation: delayFadeIn 3000ms;}
    #project-link-4 {  animation: delayFadeIn 3500ms;
    -webkit-animation: delayFadeIn 3500ms;}
    #project-link-5 {  animation: delayFadeIn 400ms;
    -webkit-animation: delayFadeIn 400ms;}

  .work-grid::-webkit-scrollbar {
      display: none;
    }
  }
}



////////////// Project Page
.project-page {
  padding: 10px;
  display: flex;
  margin-bottom: 10em;

  animation: delayFadeIn 1000ms;
-webkit-animation: delayFadeIn 1000ms;

  @include media-query($on-palm) {
        height:inherit;
        display: inherit;
        // align-items: none;
        // padding-top: 150px;
      }

  p {margin: 0;}

  .project-info {
    width: 50%;
    margin-right: 20px;
    @include media-query($on-palm) {width: 100%;}
  }

  .project-info.mobile {
    @include media-query($on-palm) {padding-top:50px;}
  }
}

.project-content {
  margin: auto;
  max-width: $max-wid;
  padding:0 2%;

  .pad-bottom {
    padding-bottom: 10%;
  }

  .project-two-column {
    display: flex;
@include media-query($on-palm) {display: inherit;}
    .left {
      padding-right:1%;
      @include media-query($on-palm) {padding:0;}
    }
    .right{
      padding-left:1%;
      @include media-query($on-palm) {padding:0;}
    }
  }

}

.next__prev{
  display: flex;
  &_center {
    display: flex;
    margin: auto;

    #prev {
      padding-right:10px;
    }
    #next {
      padding-left:10px;
    }
  }
}


footer {
  color: $off-black;
  bottom: 0;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
