header {
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1000;
  // margin: 0 2%;

  .name {
    display: inline-flex;
    align-items: center;
  }

  .name_project {
    margin-top: 2%;
    position: fixed;
  }

    span {
      text-transform: uppercase;
      font-size: 4vw;
      letter-spacing: 9.97px;
      padding-left: 10px;
    }

}
.wrapper { width:100%; padding-left: 20px; padding-right: 20px;}

.desc-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .desc {
    margin: 0 10%;
  }
}


//////////////////////// HOME

// .column-wrapper {
//   display: inline-flex;
//   width: 100%;
//   li {
//     padding-bottom: 14px;
//   }
//
//   .left {
//     width: 50%;
//     background-color: #E4E4E4;
//     height: 100vh;
//     overflow-y: scroll;
//
//     .work-list {
//       margin: 30% 0;
//     }
//
//   }
//   .right {
//     width: 50%;
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     // background: linear-gradient(0.25turn, white, black);
//
//     .img-wrapper {
//       vertical-align: middle;
//       width: 80%;
//       margin: auto;
//
//        .hideImg{
//         display:none;
//       }
//        .showImg{
//         display:inherit !important;
//       }
//     }
//   }
// }
//
// #p5-container, #p5-home{
//   position: absolute;
//   z-index: -100;
// }


////////////////////////// PROJECT PAGE
.column-wrapper-projectpg {

  .left-projectpg {
    width: 40%;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    background-color: #E4E4E4;

    .project-title {
      position: absolute;
      bottom: 0;

      h1 {
        font-size: 4vw;
        line-height: 51px;
        font-weight: 500;
        text-transform: uppercase;
        color: black;
      }
    }
  }

  .right-scroll {
    background-color: white;
    height: 100vh;
    margin-left: 40%;
    width: 60%;

      .project-content {
        background-color: white;
        vertical-align: middle;
        width: 100%;

        .project-videos {
          position: relative;
        }
      }
  }
}


footer {
  position: fixed;
  bottom: 0;
  width: 90vw;

  .footer-wrapper {
    display: flex;

    width: 100%;

  .footer-item {
    width: 30%;
    height: 20px;
    margin-bottom: 50px;

    p {
      text-align: center;
    }

    a:hover {
      color: white;
      background-color: $off-black;
      }
    }
  }
}


.project-container {
  margin-bottom: 100px;
}

.top {
  margin-top: 50px;
}

.row {
  width: 100%;
  padding-top: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .column-70 {
    width: 70%;
    flex-grow: 1;
  }
  .column-30 {
    width: 30%;
    flex-grow: 1;
  }

  .center-column {
    width: 70%;
  }
}

.project-words {
  padding: 10px;

  h3 {
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    text-decoration: none;
    background-color: $off-black;
    color: $off-black;
  }
}
