@import url('https://fonts.googleapis.com/css?family=Roboto');
// @import url('https://fonts.googleapis.com/css?family=Karla:400,700');



$font-sans:  acumin-pro, sans-serif;
$font-serif: baskerville-urw, serif;
$default-weight: 400;

$main-color: #e787ff; // lavender
$off-black: #2c2c2c;
$white: white;
$color-gray: #C9C9C9;
$blue: #0000ff;
$magenta: #D522B1;
$yellow: #FFC600;

$max-wid: 1199px;
$padding: 1em;
$spacing: 10vh;
$border: 2px solid white;

$on-palm: 600px !default;
$on-tablet: 800px !default;
$on-laptop: 1120px !default;


@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes delayFadeIn {
  0% {opacity: 0;}
  50% {opacity:0;}
  100% {opacity: 1;}
}

@keyframes delayFadeIn {
  0% {opacity: 0;}
  50% {opacity:0;}
  100% {opacity: 1;}
}

// %columns {
//   display: flex;
//   columns: 2;
//   margin: auto;
// }
// %_item {
//   width: 100%;
// }
