---
layout: default
---
<div class="home-page">

  <div class="work-grid">
      {% for post in site.categories.work %}
      <a href="{{ post.permalink }}">
        <div class="preview">
          <div id="project-link-{{ forloop.index }}" class="project-title">
              <h1>
              {{ post.title }}
              </h1>
              <div class="project-role">
                <h3>{{ post.role }}</h3>
              </div>
          </div>
        </div>
      </a>
      {% endfor %}
      <!-- <a href="{{ "sculpture" | relative_url }}">

        <div class="preview">
          <div id="project-link-{{ forloop.index }}" class="project-title">
            <h1>
              sculpture 1
            </h1>
            <div class="project-role">
              <h3>misc</h3>
            </div>
          </div>
        </div>
      </a> -->
  </div>

<div class="about">
  <div class="columns">

  <div class="_item">
    <div class="__skills_programs">
      <h3>Skills</h3>
      <br>
      <ul>
        <li><h4>Photoshop</h4></li>
        <li><h4>Indesign</h4></li>
        <li><h4>Illustrator</h4></li>
        <li><h4>Sketch</h4></li>
        <li><h4>Invision</h4></li>
        <li><h4>HTML / CSS</h4></li>
      </ul>
    </div>
  </div>
  <div class="_item">
    <div class="__contact">
      <h3>Contact</h3>
      <br>
      <!-- <h4>{{ site.description }}</h4> -->
      <h4><a href="mailto:{{ site.email }}">{{ site.email }}</a></h4>
      <h4><a href="{{ site.linkedin }}">Linkedin</a></h4>
      <!-- <h4><a href="https://www.instagram.com/{{ site.instagram }}/">@{{ site.instagram }}</a></h4> -->
      <h4><a href="{{ site.resume }}">résumé</a></h4>
    </div>
  </div>
</div>

</div>
</div>
