---
layout: default
---
{%- include header.html -%}

<div class="project-page">
    <div class="project-info">
      <p>Client</p>
      <h2>{{ page.client }}</h2>
      <br>
      <br>
      <p>Role</p>
      <h2>{{ page.role }}</h2>
    </div>
    <div class="project-info mobile">
      <p>{{ page.post_description}}</p>
      <br>
    </div>
</div>

<div class="project-content">
  {{ page.content }}
</div>
<div class="next__prev">
  <div class="next__prev_center">

    <div id="prev">
      {% if page.previous %}
          <a rel="prev" href="{{ page.previous.url }}">
            <h1>
              <span><</span>
            </h1>
          </a>
      {% endif %}
    </div>

    <div id="next">
      {% if page.next %}
          <a rel="next" href="{{ page.next.url }}">
            <h1>
              <span>></span>
            </h1>
          </a>
      {% endif %}
    </div>
  </div>
</div>
