---
layout: default
---
<!--
<a href="{{ "/" | relative_url }}">
<div class="marquee">
  <h4>~ click here to go home ~</h4>
</div>
</a> -->

<div class="project-page">
<div class="project-border">

  <div class="project-info project-title">
    <h1>{{ page.title }}</h1>
    <h3>Client: {{ page.client }}</h3>
    <h3>Role: {{ page.role }}</h3>
  </div>
  <div class="project-info mobile project-desc">
    <p>{{ page.post_description}}</p>
    <br>
  </div>
</div>
</div>

<div class="project-content">
  {{ page.content }}
  <h3>{{ page.credits }}</h3>
</div>

<footer>
<div class="footer">
  <a href="{{ "/" | relative_url }}">
    <h2>work</h2>
  </a>
</div>
</footer>
