<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="utf-8">
    <title>Hello, World! • A-Frame</title>
    <meta name="description" content="Hello, World! • A-Frame">
    <script src="https://aframe.io/releases/0.3.0/aframe.min.js"></script>
    <script src="assets/js/aframe-gif-shader.js"></script>
  </head>
<body>

  <div class="mommy">
    <!-- {%- include header.html -%} -->
    {{ content }}
    <!-- {%- include footer.html -%} -->
  </div>
  <div class="cursor"></div>
</body>
</html>
